*.o
*.suo
*.lock
*.ipch
*.vsidx
*.tsv
*.aln
*pdb
*.tlog
*.idb
*.obj
*.log
*.bin
*.DS_Store
*.manifest
*.testlog
*.db
*.user
out2.tre
out2settings.config
out.tre
outsettings.config
applicationhost.config
summary.json
project-colors.json
Output
/TongueTwister/Debug
/TongueTwister/x64
/TongueTwisterReader/Debug
/TongueTwisterReader/x64
/TongueTwister/.vs
desktop.ini
/TongueTwisterReader/.vs/TongueTwisterReader/v17/Browse.VC.opendb
/TongueTwisterReader/.vs/TongueTwisterReader/v17/Browse.VC.db-wal
/TongueTwisterReader/.vs/TongueTwisterReader/v17/Browse.VC.db-shm
.DS_Store
/TongueTwisterReader/TongueTw.0be85459/x64/Debug/TongueTwisterReader.exe.recipe
/TongueTwisterReader/TongueTw.0be85459/x64/Debug/TongueTwisterReader.ilk
/TongueTwisterReader/TongueTw.0be85459/x64/Debug/TongueTwisterReader.vcxproj.FileListAbsolute.txt
/TongueTwisterReader/TongueTw.0be85459/x64/Release/TongueTwisterReader.exe.recipe
/TongueTwisterReader/TongueTw.0be85459/x64/Release/TongueTwisterReader.iobj
/TongueTwisterReader/TongueTw.0be85459/x64/Release/TongueTwisterReader.vcxproj.FileListAbsolute.txt
/TongueTwisterReader/.vs/TongueTwisterReader/v17/DocumentLayout.backup.json
/TongueTwisterReader/.vs/TongueTwisterReader/v17/DocumentLayout.json
TongueTwister2/.vs/TongueTwister2/v18/DocumentLayout.backup.json
TongueTwister2/.vs/TongueTwister2/v18/DocumentLayout.json
TongueTwister2/TongueTwister2/x64/Debug/TongueTwister2.exe.recipe
TongueTwister2/TongueTwister2/x64/Debug/TongueTwister2.vcxproj.FileListAbsolute.txt
TongueTwisterReader2/.vs/TongueTwisterReader/v18/DocumentLayout.backup.json
TongueTwisterReader2/.vs/TongueTwisterReader/v18/DocumentLayout.json
TongueTwisterReader2/TongueTw.0be85459/x64/Debug/TongueTwisterReader.vcxproj.FileListAbsolute.txt
