*.o
*.suo
*.lock
*.ipch
*.vsidx
*.tsv
*.aln
*pdb
*.tlog
*.idb
*.obj
*.log
*.bin
*.DS_Store
*.manifest
*.testlog
*.db
*.user
out2.tre
out2settings.config
out.tre
outsettings.config
applicationhost.config
summary.json
project-colors.json
Output
/TongueTwister/Debug
/TongueTwister/x64
/TongueTwisterReader/Debug
/TongueTwisterReader/x64
/TongueTwister/.vs
desktop.ini
.DS_Store
/TongueTwisterReader/TongueTw.0be85459/x64
/TongueTwisterReader/.vs
TongueTwister2/.vs
TongueTwister2/TongueTwister2/x64
TongueTwisterReader2/.vs
TongueTwisterReader2/TongueTw.0be85459/x64
/Experiments/Test
